.history-section {
  min-height: 100vh;
  background-color: #020202;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 50px 0;
}
