.timeline-section {
  background-color: #f7df1e;
  min-height: 100vh;
  padding: var(--navHeight) 0 50px 0;
}
.timeline-items {
  max-width: 1000px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}
.timeline-item {
  width: 100%;
  position: relative;
}
.timeline-item:not(:last-child) {
  margin-bottom: 40px;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #020202;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 1.8rem;
  color: #020202;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}

/* responsive */
@media (max-width: 900px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}
