*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --navHeight: 0px;
}
body {
  box-sizing: border-box;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'IBM Plex Mono', monospace;
}
body::-webkit-scrollbar {
  display: none;
}
.center-part {
  width: 70%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
/* Navbar styles */
nav {
  width: 85vw;
  background-color: #1b1b1b;
  padding: 25px 0 25px 0;
  border-radius: 0 0 8px 8px;
  position: fixed;
  top: 0px;
  z-index: 1;
  left: 7.5%;
  display: flex;
  justify-content: flex-end;
}
.nav-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border-radius: 0 0 8px 8px;
}
.nav-link {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: #9c9c9c;
}
.active {
  color: #f77f1c;
}
.nav-link:hover {
  color: #f7df1c;
  transform: scale(1.2) !important;
}
.navbar-gap {
  height: var(--navHeight);
}
.hamburger {
  display: none;
  cursor: pointer;
  margin: 0 20px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #9c9c9c;
}
/* Text styles */
.text-container {
  padding-top: 50px;
}
.text-container p:not(:last-child) {
  padding-bottom: 30px;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.4rem;
  padding-bottom: 20px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.4rem;
  padding-bottom: 20px;
}
.body-text-grey {
  font-size: 1.4rem;
  color: #9c9c9c;
}
.body-text-dark-grey {
  font-size: 1.4rem;
  color: #3e3d3d;
}
.body-text-black {
  font-size: 1.4rem;
  color: #020202;
  font-weight: 600;
}
.body-text-white {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 600;
}

/* Media Queries */
@media (max-width: 900px) {
  .nav-container {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 85vw;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1b1b1b;
    padding-bottom: 20px;
  }
  .nav-container.open {
    left: 7.5%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 600px) {
  .center-part {
    width: 80%;
  }
}
